/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --main-color:#fff;
  --zwart:#000;
}



/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
  margin: 0;
  font-family:'Roboto Condensed',Arial, sans-serif;
  color: var(--main-color);
}

/**********/
/* HEADER */
/**********/
section:first-of-type{
  top: 0;
  height: 100vh;
  background-image: linear-gradient(
    180deg,transparent 50%,rgba(32,35,39,.5)), url(https://rijks-frontend.azureedge.net/assets/65b66683-1534-45d7-8f99-de3699cdeed7?w=830&h=1804&fx=1203&fy=1694&format=webp&c=2e43213773db3bda36e67f9050ae7971d5db277cb2869a2fe4ea63919edb852c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

h1 {
  text-transform: uppercase;
  font-size: 14vw;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 1.5em;
  font-weight:600;
}

header:first-of-type a {
  background-color: #d55140;
  font-size: 1em;
  border-radius: 2px;
  text-decoration: none;
  color: var(--main-color);
  padding: 15px 23px;
  font-weight: 700;
  position: absolute;
  right: 1.3em;
  top: 1em;
}


/******************/
/* EERSTE SECTION */
/******************/

section:first-of-type h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin-left: 1.5em;
  margin-bottom: 0;
  position: absolute;
  bottom: 4.2em;
}

section:first-of-type p {
  font-size: 1em;
  margin: 0 0 0 1.5em;
  position: absolute;
  bottom: 2.6em;
}

/******************/
/* TWEEDE SECTION */
/******************/

section:nth-of-type(2) {
  top: 0;
  height: 100vh;
  background-image: linear-gradient(
    180deg,transparent 50%,rgba(32,35,39,.5)), url(https://rijks-frontend.azureedge.net/assets/0a71e377-22ce-4adf-bf15-3d4e88462e3a?w=830&h=1804&fx=2772&fy=1884&format=webp&c=7f78d64cbc0d9d554240a537ac3f482e869a39c2f5fe36fa5d2e3c67d7cdaf01);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  position: relative;
}

section:nth-of-type(2) h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  bottom: 4.5em;
}

section:nth-of-type(2) p {
  margin-top: 0;
  margin-left: 1.5em;
  position: absolute;
  bottom: 2em;
  }

section:nth-of-type(2) span {
  padding: 3px 4px;
  margin-bottom: 10px;
  border-radius: 2px;
  background: #ffffff;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  line-height: .75em;
  text-transform: uppercase;
  margin-left: 1.8em;
  position: absolute;
  bottom: 7.3em;
}

/*****************/
/* DERDE SECTION */
/*****************/

section:nth-of-type(3) {
  top: 0;
  height: 50vh;
  background-image: linear-gradient(
    180deg,transparent 1%,rgba(32,35,39,.5)), url(https://rijks-frontend.azureedge.net/assets/3fd2532e-49b2-4cb8-a416-c4fde1324825?w=960&h=1080&fx=4506&fy=3086&c=27b045857bcea82645d39fa253285cfb8bfa72272540f5724d2252f0e36f37b5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  position: relative;
}

section:nth-of-type(3) h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  bottom: 4.5em;
}

section:nth-of-type(3) p {
  margin-top: 0;
  margin-left: 1.5em;
  position: absolute;
  bottom: 2em;
  }

section:nth-of-type(3) span {
  padding: 3px 4px;
  margin-bottom: 10px;
  border-radius: 2px;
  background: #ffffff;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  line-height: .75em;
  text-transform: uppercase;
  margin-left: 1.8em;
  position: absolute;
  bottom: 7.3em;
}

/******************/
/* VIERDE SECTION */
/******************/

section:nth-of-type(4) {
  top: 0;
  height: 50vh;
  background-image: linear-gradient(
    180deg,transparent 1%,rgba(32,35,39,.5)), url(https://rijks-frontend.azureedge.net/assets/85d44e08-18e8-4966-ae8d-af2806ffe3a3?w=640&h=695&x=1372&y=1234&cropWidth=3050&cropHeight=2509&format=webp&c=241f807ecf930145b7a1ab77cbe31c483e2e6949176f1d3e493a31daf6444a42);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  position: relative;
}

section:nth-of-type(4) h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  bottom: 4em;
}

section:nth-of-type(4) p {
  margin-top: 0;
  margin-left: 1.5em;
  position: absolute;
  bottom: 1.5em;
  }

section:nth-of-type(4) span {
  padding: 3px 4px;
  margin-bottom: 10px;
  border-radius: 2px;
  background: #ffffff;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  line-height: .75em;
  text-transform: uppercase;
  margin-left: 1.8em;
  position: absolute;
  bottom: 7.3em;
}

/**********/
/* FOOTER */
/**********/

footer {
  background-color: var(--zwart);
  position: relative;
}

h3 {
  margin-top: 0;
  margin-bottom: 2vw;
  margin-left: 5vw;
  padding-top: 5em;
  text-transform: uppercase;
  font-size: 1em;
}

footer p:first-of-type {
  margin-left: 5vw;
  margin-right: 5em;
  color: #c2ccce;
  font-size: 1.3em;
  margin-top: 0;
}

footer ul {
  margin-top: 2em;
  list-style-type: none;
  padding-left: 5vw;
  font-size: 1.2em;
}

footer ul li{
  margin: 0 20px 20px 0;
}

footer a:first-of-type {
  font-size: 1em;
  line-height: 1.375;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  border-radius: 2px;
  background-color: hsla(0,0%,100%,.2);
}

/* h1 groter maken door vw, shadow kijken met mutiple backgrounds, boxshadow*

box-shadow: inset 0px -20px 20px 0px rgb(0 0 0 / 30%);
}
/