/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --main-color:#fff;
}



/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
  margin: 0;
  font-family:'Roboto Condensed',Arial, sans-serif;
  color: var(--main-color);
}

/**********/
/* HEADER */
/**********/
div {
  background-image: linear-gradient(
    180deg,transparent 50%,rgba(32,35,39,.5));
}

section:first-of-type{
  top: 0;
  height: 100vh;
  background-image: url(https://rijks-frontend.azureedge.net/assets/65b66683-1534-45d7-8f99-de3699cdeed7?w=830&h=1804&fx=1203&fy=1694&format=webp&c=2e43213773db3bda36e67f9050ae7971d5db277cb2869a2fe4ea63919edb852c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

h1 {
  text-transform: uppercase;
  font-size: 3.4em;
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding-top: 1.5em;
  margin-top: 0;
}

header:first-of-type a {
  background-color: #d55140;
  font-size: 1em;
  border-radius: 2px;
  text-decoration: none;
  color: var(--main-color);
  padding: 15px 23px;
  font-weight: 700;
  position: absolute;
  right: 1.3em;
  top: 1em;
}


/******************/
/* EERSTE SECTION */
/******************/

section:first-of-type h2 {
  text-transform: uppercase;
  margin-top: 37em;
  font-size: 1em;
  margin-left: 1.5em;
  margin-bottom: 0.4em;
}

section:first-of-type p {
  font-size: 1em;
  padding-bottom: 1.8em;
  margin: 0 0 0 1.5em;
}

/******************/
/* TWEEDE SECTION */
/******************/

section:nth-of-type(2) {
  top: 0;
  height: 100vh;
  background-image: url(https://rijks-frontend.azureedge.net/assets/0a71e377-22ce-4adf-bf15-3d4e88462e3a?w=830&h=1804&fx=2772&fy=1884&format=webp&c=7f78d64cbc0d9d554240a537ac3f482e869a39c2f5fe36fa5d2e3c67d7cdaf01);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

section:nth-of-type(2) h2 {
margin-top: 0;
margin-bottom: 0.4em;
margin-left: 1.5em;
padding-top: 45em;
text-transform: uppercase;
font-size: 1em;
}

section:nth-of-type(2) p {
  margin-top: 0;
  margin-left: 1.5em;
  }

section:nth-of-type(2) span {
  padding: 3px 4px;
  margin-bottom: 10px;
  border-radius: 2px;
  background: #ffffff;
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  line-height: .75em;
  text-transform: uppercase;
  margin-left: 1.8em;
}